@import "../../variables.scss";

.dictionary-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  background-color: $primary-color;
  padding: $base-padding;
}

.dictionary-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: $base-padding;
  background-color: $background-color;
  border-radius: 1rem;

  button {
    width: fit-content;
    font-size: 1.5rem;
    color: $primary-color;
    background-color: $secondary-color;
    padding: $base-padding calc($base-padding * 3);
    border-radius: 0.5rem;
    transition: background-color $transition-duration;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }
  }
}

.dictionary-form-fieldset {
  text-align: center;

  legend {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  input {
    margin-right: 1rem;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: calc($base-padding / 2);
  }
}

.dictionary-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    background-color: $background-color;
    list-style: none;
    padding: $base-padding;
    font-size: 1.5rem;
    border-radius: 0.5rem;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 0.5rem;
        padding: $base-padding;
    }
}
