@import "../../variables.scss";

.lesson {
  display: flex;
  flex-direction: column;
}

.lesson-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.lesson-start {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;

  button {
    font-size: 6rem;
    color: $text-color;
    background-color: $background-color;
    border: 3px solid $background-color;
    padding: $base-padding calc($base-padding * 3);
    border-radius: 0.5rem;
    transition: background-color $transition-duration;
    cursor: pointer;

    &:hover {
      background-color: $text-color;
      color: $background-color;
      border: 3px solid $background-color;
    }
  }
}

.lesson-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.lesson-word {
  text-align: center;
  font-size: 6rem;
}

.lesson-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
