@import "../../variables.scss";

.lesson {
  display: flex;
  flex-direction: column;
}

.lesson-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.lesson-start {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.lesson-timer {
  background-color: $background-color;
  padding: $base-padding;
  border-radius: 0.5rem;
  font-size: 3rem;
}

.lesson-box {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: $background-color;
  padding: $base-padding;
  border-radius: 1rem;
}

.lesson-word {
  text-align: center;
  font-size: 6rem;
}

.lesson-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  button {
    color: $primary-color;
    background-color: $secondary-color;
    border: 3px solid $secondary-color;
    font-size: 1.5rem;
    padding: $base-padding;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $secondary-color;
    }

    &:disabled {
        background-color: gray;
        color: $primary-color;
        border: 3px solid gray;
        cursor: not-allowed;
    }
  }
}
