@import "../../../../variables";

.dictionary-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

  background-color: $background-color;
  list-style: none;
  padding: $base-padding;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
