@import "../../variables.scss";

.home {
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
    border-bottom: 0.2rem solid $text-color;
    padding: $base-padding;
  }
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $base-padding;
}

.home-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $base-padding 0;
    background-color: $background-color;
    border-radius: 1rem;
    row-gap: 1rem;
  }

  p {
    width: 100%;
    padding: $base-padding;
    text-align: justify;
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .home {
    h2 {
      width: max-content;
    }
  }

  .home-info {
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    column-gap: 6rem;

    section {
      width: 35%;
    }
  }
}
