@import "../../../../variables.scss";

.modal-delete {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: $base-padding;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;

  div {
    display: flex;
    column-gap: 1rem;
    padding: $base-padding;

    button {
      padding: $base-padding;
      width: 50%;
    }
  }
}
