@import "../../variables.scss";

.dictionary-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  background-color: $primary-color;
  padding: $base-padding;
}
