@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: "Arial", sans-serif;
  background-color: $primary-color;
  color: $text-color;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

button {
  font-size: 6rem;
  color: $text-color;
  background-color: $background-color;
  border: 3px solid $background-color;
  padding: $base-padding calc($base-padding * 3);
  border-radius: 1rem;
  transition: background-color $transition-duration;
  cursor: pointer;

  &:hover {
    background-color: $text-color;
    color: $background-color;
    border: 3px solid $background-color;
  }
}
