$primary-color: #a8dadc;
$secondary-color: #e63946;
$background-color: #f1faee;
$text-color: #1d3557;
$base-font-size: 16px;
$base-padding: 1rem;
$base-margin: 1rem;

$transition-duration: 0.5s;

$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
